/*Side Bar*/

body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(22,22,22);
}

.side-bar {
	position: fixed;
	background-color: rgb(0,0,0);
	color: rgb(178,178,178);
	width: 241px;
}

.logo {
	padding: 18px 24px;
}

.logo img {
	width: 131px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.side-bar a:link {
	text-decoration: none;
	color: rgb(178,178,178);
}

.side-bar a:visited {
	text-decoration: none;
	color: rgb(178,178,178);
}

.side-bar a:hover {
	text-decoration: none;
	color: rgb(255,255,255);
	font-weight: normal;
}

.home a:link {
	text-decoration: none;
	color: rgb(255,255,255);
}

.navigation {
	padding: 0px 16px;
	font-size: 14px;
	margin-bottom: 18px;
}

.navigation ul {
	padding: 18px 10px;
}

.navigation li {
	padding-bottom: 20px;
	width: 100%;
}

i {
	font-size: 20px;
	padding-right: 10px;
}

.your-library i {
	padding-left: 10px;
}

.song-related {
	padding: 0px 16px;
	font-size: 14px;
}

.song-related ul {
	padding: 0px 10px;
}

.song-related li {
	padding-bottom: 20px;
}

.line-divider {
	border: 1px solid #282828;
	margin: 0px 24px;
}

.playlists {
	height: 241px;
	padding-top: 8px;
	padding-left: 24px;
}

.install {
	padding: 0px 16px;
	font-size: 14px;
}

.install ul {
	padding: 0px 10px;
}

.install li {
	padding-bottom: 10px;
}

/*main page*/
.wrap {
	display: flex;
}

.main-page {
	margin-left: 241px;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 1060px;
	padding: 16px 32px;
	background-color: rgb(22,22,22);
	position: fixed;
}

.arrows {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 16px;
}

.arrows button {
	width: 32px;
	height: 32px;
	background-color: rgb(13,13,13);
	color: rgb(143,143,143);
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.upgrade-button {
	margin-right: 20px;
	padding: 0px;
	padding-top: 0px;
	background-color: transparent;
	border: 1px solid rgb(251,251,251);
	border-radius: 25px;
	color: rgb(251,251,251);
	font-size: 14px;
	font-weight: bold;
	width: 88px;
	height: 32px;
	cursor: pointer;
}

.upgrade-button:hover {
	border: 2px solid rgb(251,251,251);
	font-size: 15px;
}

.user {
	display: flex;
}

.user-button-wrap {
	display: flex;
}

.user-button {
	padding: 2px 0px;
	width: 120px;
	height: 32px;
	border: none;
	border-radius: 25px;
	color: rgb(251,251,251);
	background-color: rgb(7,7,7);
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.user-button:hover {
	background-color: rgb(43,43,43);
}

.user-button img {
	padding-left: 3px;
	padding-right: 5px;
	width: 28px;
	border-radius: 50%;
}

.user-button span i {
	padding-left: 5px;
}

/*good afternoon albums*/
.good-afternoon {
	width: 97%;
	padding: 24px 32px;
	background-color: rgb(18,18,18);
	color: rgb(255,255,255);
}

.good-afternoon h2 {
	padding-top: 24px;
	font-size: 32px;
}

.album-style-one {
	display: flex;
	height: 80px;
	width: 337px;
	background-color: rgb(45,45,45);
	border-radius: 5px;
}

.album-row-one, .album-row-two {
	display: flex;
	justify-content: space-between;
}

.album-row-two {
	margin-top: 15px;
}

.album-style-one img {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.album-style-one section{
	padding: 0px 16px;
	width: 257px;
	display: flex;
	justify-content: space-between;
}

.album-style-one section a:link, a:visited, a:hover {
	font-weight: bold;
	text-decoration: none;
	color: rgb(255,255,255);
}

.album-style-one section a p {
	margin: 0px;
	margin-top: 32px;
}

.album-style-one section span i {
	color: rgb(0,0,0);
	background-color: rgb(30, 215, 96);
	padding: 15px 17px;
	border-radius: 50%;
	margin: 15px 0px;
	display: none;
}

.album-style-one section {
	transition-duration: 500ms;
}

.album-style-one section:hover span i {
	display: grid;
 	cursor: pointer;
}

.album-style-one section:hover {
	background-color: rgb(66,66,66);
}

/*Shows*/
.shows-wrap {
	padding: 24px 32px;
	background-color: rgb(18,18,18);
	color: rgb(255,255,255);
	width: 97%;
}

.shows-wrap h3 {
	margin-top: 0px;
	font-size: 24px;
}

.shows {
	display: flex;
	justify-content: space-between;
}

.shows1, .shows2, .shows3, .shows4, .shows5  {
	width: 161px;
	padding: 16px;
	background-color: rgb(24,24,24);
	border-radius: 5px;
	transition-duration: 500ms;
	cursor: pointer;
}

.shows1:hover, .shows2:hover, .shows3:hover, .shows4:hover {
	background-color: rgb(45,45,45);
}

.shows5 {
	background-color: rgb(18,18,18);
}

.shows img {
	width: 161px;
	margin-bottom: 16px;
	display: block;
}

.shows a:link {
	text-decoration: none;
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 14px;
}

.shows a:visited {
	text-decoration: none;
	color: rgb(255,255,255);
	font-weight: bold;
}

.shows a:hover {
	text-decoration: none;
	color: rgb(255,255,255);
	font-weight: bold;
}

.shows p {
	color: rgb(178,178,178);
	font-size: 13px;
}